.whySwiper .swiper-slide {
    display: flex;
    height: auto;
}
.whySwiper .why-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.whySwiper .why-card .read-more {
    margin-top: auto;
}

/* CERTIFICATE  SWIPER STYLES */
.certificate-swiper  .swiper-pagination {
    position: relative;
    margin-top: 30px;
    text-align: center;
}
 
.certificate-swiper .swiper-pagination-bullet {
  background-color: gray;
  opacity: 0.4;
 
}
 
.certificate-swiper .swiper-pagination-bullet-active {
  opacity: 1;
    background-color: #22c55e;
}
 
/* FANCYBOX STYLES */
.fancybox__container {
  --fancybox-bg: rgba(0, 0, 0, 0.95);
}
.fancybox__caption {
  text-align: center;
  color: #f9fafb;
}


@media (max-width: 425px) {
   .whySwiper .swiper-slide {
    display: flex;
    height: 100%;
}
.whySwiper .why-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.whySwiper .why-card .read-more {
    margin-top: 0;
} 
}